<h1>Help</h1>
<p>
  Get help on the RoR tutorial at the 
  <a href="http://railstutorial.org/help">Rails Tutorial help page</a>. 
  To get help on this sample app, see Ryan, because he is probably going
  to be the bomb diggity expert on all things Rails after he has finished 
  his website.
</p>
